{%block model%}
{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
      main{
          margin-top: 95vh;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
  <main>
    
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" >
      <div class="col"  >
        <div class="card mb-4 rounded-3 shadow-sm" style="margin-left:30px; margin-right:30px;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Warsaw(recently)</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20+</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li></li>
              <li>Clear Sky</li>
              <li>Sunrise</li>
              <li>Sunset</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Edit/Change</button>
          </div>
        </div>
      </div>
      <div class="col" >
        <div class="card mb-4 rounded-3 shadow-sm " style="margin-left:30px; margin-right:30px;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Tashkent</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20+</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Edit/Change</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm " style="margin-left:30px; margin-right:30px;">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Bergen</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20+</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Edit/Change</button>
          </div>
        </div>
      </div>
    </div>
    
  </main>
    

    
  </body>
</html>
{%endblock%}